---
environment: stage

env:
  NUON_API_URL: "https://api.stage.nuon.co"
  CUSTOMER_BASE_URL: "https://customers.stage.nuon.co"

  # Auth configuration (OIDC) - AUTH_CLIENT_SECRET comes from envSecrets
  AUTH_PROVIDER: "oidc"
  AUTH_CLIENT_ID: "457475541946-uar9phtln2tsth04t64kdscetel2l2cs.apps.googleusercontent.com"
  AUTH_OIDC_ISSUER_URL: "https://accounts.google.com"
  AUTH_REDIRECT_URI: "https://customers.stage.nuon.co/admin/callback"

app:
  alb:
    public_domain: $TFO_PUBLIC_DOMAIN
    public_domain_certificate: $TFO_CERTIFICATE_ARN
  autoscaling:
    minReplicas: 1
    maxReplicas: 1

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
