---
environment: prod

env:
  NUON_API_URL: "https://api.nuon.co"
  CUSTOMER_BASE_URL: "https://customers.nuon.co"

  # Auth configuration (OIDC) - AUTH_CLIENT_SECRET comes from envSecrets
  AUTH_PROVIDER: "oidc"
  AUTH_CLIENT_ID: "255165381344-nh1do91renuunj5j9obtn02o5310aj32.apps.googleusercontent.com"
  AUTH_OIDC_ISSUER_URL: "https://accounts.google.com"
  AUTH_REDIRECT_URI: "https://customers.nuon.co/admin/callback"

app:
  alb:
    public_domain: $TFO_PUBLIC_DOMAIN
    public_domain_certificate: $TFO_CERTIFICATE_ARN
    group_name: nuon-prod-public
    group_tags: service=nuon-prod-public,service_type=shared,env=prod

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $TFO_EKS_ROLE_ARN
