package partials

import (
	"github.com/nuonco/mono/services/customer-dashboard/internal/models"
)

// FooterProps contains props for the customer footer component
type FooterProps struct {
	Theme *models.AppTheme
}

// Footer renders the customer footer.
templ Footer(props FooterProps) {
	<footer class="max-w-5xl mx-auto px-6 lg:px-8 pb-6 pt-8 mt-auto">
		<div class="text-center text-sm text-cool-grey-500 dark:text-cool-grey-400 font-body">
		</div>
	</footer>
}
