package partials

import (
	"github.com/nuonco/customer-portal/internal/models"
	"github.com/nuonco/customer-portal/internal/views/customerui/utils"
)

// ThemeStylesProps contains props for theme CSS injection
type ThemeStylesProps struct {
	Theme *models.AppTheme
}

// ThemeStyles injects custom CSS variables for the theme.
templ ThemeStyles(props ThemeStylesProps) {
	@templ.Raw(utils.BuildLayoutThemeCSS(props.Theme))
}
