package pages

import (
	"github.com/nuonco/mono/services/customer-dashboard/internal/views/customerui"
	"github.com/nuonco/mono/services/customer-dashboard/internal/views/customerui/theme/components"
)

templ InstallAppInfoPage(props InstallPageProps) {
	@customerui.Layout(props.LayoutProps) {
		@installPageShell(props) {
			<div
				id="panel-content-app-info"
				class="panel-body"
				hx-get={ props.BasePath + "/installs/" + props.Install.ID + "/panel/app-info" }
				hx-trigger="load"
				hx-swap="morph:innerHTML"
			>
				@appInfoShimmer()
			</div>
		}
	}
}

templ appInfoShimmer() {
	@components.Card(components.CardProps{Size: components.CardLarge}) {
		<div class="mb-8">
			<div class="flex items-start justify-between">
				@components.ShimmerBar("h-10", "w-10")
				@components.ShimmerBar("h-6", "w-24")
			</div>
			@components.ShimmerBar("h-7", "w-48")
		</div>
		<div class="space-y-4">
			<div class="flex gap-4 border-b border-cool-grey-200 dark:border-dark-grey-600 pb-2">
				@components.ShimmerBar("h-5", "w-20")
				@components.ShimmerBar("h-5", "w-16")
				@components.ShimmerBar("h-5", "w-20")
				@components.ShimmerBar("h-5", "w-20")
				@components.ShimmerBar("h-5", "w-24")
				@components.ShimmerBar("h-5", "w-16")
				@components.ShimmerBar("h-5", "w-20")
			</div>
			@components.ShimmerLines(4)
		</div>
	}
}
