package pages

import "github.com/nuonco/mono/services/customer-dashboard/internal/views/customerui"

templ InstallHistoryPage(props InstallPageProps) {
	@customerui.Layout(props.LayoutProps) {
		@installPageShell(props) {
			<div
				id="panel-content-history"
				class="panel-body"
				hx-get={ props.BasePath + "/installs/" + props.Install.ID + "/panel/history" }
				hx-trigger="load"
				hx-swap="innerHTML"
			>
				<div class="panel-loading">
					<div class="panel-loading-spinner"></div>
				</div>
			</div>
		}
	}
}
