package pages

import (
	"github.com/nuonco/mono/services/customer-dashboard/internal/views/customerui"
	"github.com/nuonco/mono/services/customer-dashboard/internal/views/customerui/theme/components"
)

templ InstallComponentsPage(props InstallPageProps) {
	@customerui.Layout(props.LayoutProps) {
		@installPageShell(props) {
			<div
				id="panel-content-components"
				class="panel-body"
				hx-get={ props.BasePath + "/installs/" + props.Install.ID + "/panel/audit?tab=components" }
				hx-trigger="load"
				hx-swap="morph:innerHTML"
			>
				@componentsShimmer()
			</div>
		}
	}
}

templ componentsShimmer() {
	<div class="space-y-4">
		<div class="flex gap-4 border-b border-cool-grey-200 dark:border-dark-grey-600 pb-2">
			@components.ShimmerBar("h-5", "w-24")
			@components.ShimmerBar("h-5", "w-36")
			@components.ShimmerBar("h-5", "w-20")
		</div>
		@components.ShimmerLines(4)
	</div>
}
