package pages

import (
	"github.com/nuonco/mono/services/customer-dashboard/internal/views/customerui"
	"github.com/nuonco/mono/services/customer-dashboard/internal/views/customerui/theme/components"
)

templ InstallRolesPage(props InstallPageProps) {
	@customerui.Layout(props.LayoutProps) {
		@installPageShell(props) {
			<div
				id="panel-content-roles"
				class="panel-body"
				hx-get={ props.BasePath + "/installs/" + props.Install.ID + "/panel/access" }
				hx-trigger="load"
				hx-swap="morph:innerHTML"
			>
				@rolesShimmer()
			</div>
		}
	}
}

templ rolesShimmer() {
	<div class="w-full">
		<div class="flex border-b border-cool-grey-200 dark:border-dark-grey-600 py-2 gap-4">
			@components.ShimmerBar("h-4", "w-1/2")
			@components.ShimmerBar("h-4", "w-24")
		</div>
		<div class="space-y-3 mt-3">
			for i := 0; i < 4; i++ {
				<div class="flex items-center gap-4 border-b border-cool-grey-100 dark:border-dark-grey-700 pb-3">
					@components.ShimmerBar("h-4", "w-1/2")
					@components.ShimmerBar("h-5", "w-24")
				</div>
			}
		</div>
	</div>
}
